.edit_form{
    width: 25%;
    position: relative;
    height: 500px;
    overflow: scroll;
    background: rgba(170, 255, 210,0.3);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.calendar{
    width: 75%;
    position: relative;
    background: rgba(170, 255, 210,0.3);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.main{
    width: 25%;
    height: 500px;
    overflow: scroll;
    position: relative;
    background: rgba(170, 255, 210,0.3);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.whole_page{
    display: flex;
    position: relative;
    height: 100%;
    width: 100% - 40px;
    overflow-x: scroll;
    overflow-y: scroll;
    padding-left: 40px;
}

.nav_bar_block{ 
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
}

ul{
    padding: 0%;
    margin: 0%;
    background-color: rgba(170, 255, 210);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    list-style-type: none;
    width: 70%;
    height: 80px;
}

ul:hover{
    padding: 0%;
    margin: 0%;
    background-color: rgb(170, 255, 210);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(60,80,60, 0.6);
    list-style-type: none;
    width: 70%;
}

.nav_bar_button{
    border: 0ch;
    font-size: 25px;
    background: none;
    height: 100%;
}

.normal_button{
    border: 1px solid rgb(0,0,0);
    font-size: 15px;
    background: rgb(212, 212, 212);
}

.task_item{
    background-color: rgba(170, 255, 210, 0.7);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    overflow-x: scroll;
}

.task_item:hover{
    background-color: rgb(170, 255, 210);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px rgba(60,80,60, 0.6);
}

.clock_item{
    background-color: rgba(170, 255, 210);
    border: 1px solid rgb(0,0,0);
    border-radius: 10px;
    margin-left: 5px;
    width: 30%;
    height: 80px;
    text-align: center;
}

input{
    border-radius: 5px;
    border: 2px solid rgb(0, 68, 255);
    width: 240px;
    height: 30px;
    font-size: 25px;
}
