.edit_form{
    width: 60%;
    position: relative;
}

.calendar{
    width: 100%;
    position: relative;
}

.main{
    width: 100%;
    position: relative;
}

.whole_page{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.nav_bar_block{ 
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
}

ul{
    padding: 0%;
    margin: 0%;
    background-color: rgb(171, 255, 210);
    border: 1px solid rgb(0, 0, 0);
    list-style-type: none;
}

.nav_bar_button{
    border: 0ch;
    font-size: 20px;
    background: none;
}

.normal_button{
    border: 1px solid rgb(0,0,0);
    font-size: 15px;
    background: rgb(212, 212, 212);
}

.task_item{
    background-color: rgba(42, 255, 170, 0.5);
    border: 3px solid rgb(63, 188, 63);
    margin: 20px;
    padding: 10px;
}

.clock_item{
    background-color: rgba(133, 235, 255, 0.8);
    border: 3px solid rgb(73, 157, 246);
    margin: 20px;
    padding: 10px;
}
